{% extends "CoreBundle:Base:base.html.twig" %}

{% block content %}
    <div id="content" class="span10">
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-content ">
                    <div id="content" class="span12">
                        <h2>{{ vacancy.heading }}</h2>
                        <br>
                        {% if app.session.get('user_id') == vacancy.postedbyuserid.id %}
                            <div class="pull-right">
                                {% if date(vacancy.applybeforedate) > date('today') %}
                                    <a href=" {{ path('vacancy_edit', { 'vacancyId': vacancy.id }) }}"><button  class="btn btn-small btn-inverse">edit</button></a>
                                {% endif %}
                                <button class="btn btn-small btn-danger btn-delete" url="{{ path('vacancy_delete', { 'vacancyId': vacancy.id }) }}" id="{{ vacancy.id }}" >delete</button>
                                <br>
                            </div>
                        {% endif %}
                        <br>

                        <br>
                        <table width="100%">
                            <tr>
                                <td style="padding: 1em;">{{ vacancy.description }}</td>
                            </tr>
                        </table>
                        <br>
                        <table width="100%">
                            <tr>
                                <td width="5%"></td>
                                <td width="30%" align="justify">
                                    <h3>Organization</h3>{{ vacancy.organizationname }}<br><br>
                                    <h3>Available Position</h3>{{ vacancy.availableposition }}<br><br>
                                </td>
                                <td width="5%"></td>
                                <td width ="25%">
                                    <h3>No of Vacancies</h3>{{ vacancy.noofvacancies }}<br><br>
                                    <h3>Apply Before</h3>{{ vacancy.applybeforedate }}<br><br>
                                </td>
                                <td width="5%"></td>
                                <td width="30%">
                                    <h3>Contact Details</h3>{{ vacancy.contactname }}<br>{{ vacancy.contactdesignation }}<br>{{ vacancy.contactemail }}<br>{{ vacancy.contactnumber }}<br><br>
                                </td>
                            </tr>
                            <tr>
                                <td width="5%"></td>
                                <td width="30%">
                                    <div class="box">
                                        <div class="box-content ">
                                            {% if vacancy.imagepath is null %}
                                                <img src="{{ asset('bundles/core/img/default_vacancy.jpeg') }}">
                                            {% else %}
                                                <img src="{{ asset(vacancy.imagepath) }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td width="5%"></td>
                                <td width ="25%">
                                    <h3>Created By</h3><a href="{{path('user_profile',{'userId':vacancy.postedbyuserid.id})}}">{{ vacancy.postedbyuserid.firstname ~ ' ' ~ vacancy.postedbyuserid.lastname }}</a><br>{{ vacancy.creationdate }}<br><br>
                                </td>
                                <td width="5%"></td>
                                <td width="30%"></td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}